body {
	font-family: 'Spartan', arial;
	font-size: xx-small;
}

#h2 {
	font-family: 'Spartan', arial;
	font-size: large;
	color: #37a898;
}

#myBooks {
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
}

#logo {
	max-height:160px;
	overflow: hidden;
}

#buttonAddABook {
	cursor: pointer;
	margin-top: 20px;
	margin-bottom: 10px;
	border-radius: 10rem;
	border: 0px;
	padding: 10px 20px;
	background-color: #a1ebe1;
	color: #37a898;
	font-family: 'Spartan', arial;
	font-size: small;
	transition-duration: 600ms;
}

#buttonAddABook:hover {
	background-color: #37a898;
	color: white;
}

/*.title {
	margin-left: 10px;
	margin-right: 10px;
	font-family: 'Spartan', arial;
	font-size: x-large;
	color: #37a898;
	background-color: #e8f9f7;
}*/

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
}
