body {
	font-family: 'Spartan', arial;
	font-size: medium;
}

h2 {
	font-family: 'Spartan', arial;
	font-size: large;
	color: #37a898;
}

#myBooks {
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
}

#logo {
	max-height:160px;
	overflow: hidden;
}

/*.title {
	margin-left: 10px;
	margin-right: 10px;
	font-family: 'Spartan', arial;
	font-size: x-large;
	color: #37a898;
	background-color: #e8f9f7;
}*/

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
}
