body {
	font-family: 'Spartan', arial;
	font-size: xx-small;
}

input {
	width: 40%;
	border-radius: 10rem;
	padding: 10px 20px;
	outline: none;
	border: 2px solid #eafaf8;
	font-family: 'Spartan', arial;
	font-size: xxx-small;
}

input:focus {
	width: 40%;
	border-radius: 10rem;
	padding: 10px 20px;
	outline: none;
	border: 2px solid #a1ebe1;
}

#h2 {
	font-family: 'Spartan', arial;
	font-size: large;
	color: #37a898;
}

#myBooks {
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
}

#logo {
	max-height:160px;
	overflow: hidden;
}

#buttonAddABook {
	cursor: pointer;
	margin-top: 20px;
	margin-bottom: 10px;
	border-radius: 10rem;
	border: 0px;
	padding: 10px 20px;
	background-color: #a1ebe1;
	color: #37a898;
	font-family: 'Spartan', arial;
	font-size: small;
	transition-duration: 600ms;
	outline: none;
}

#buttonAddABook:hover {
	background-color: #37a898;
	color: white;
}

#buttonSearchBook {
	cursor: pointer;
	width: 150px;
	margin-top: 20px;
	margin-bottom: 10px;
	border-radius: 10rem;
	border: 0px;
	padding: 10px 20px;
	background-color: #a1ebe1;
	color: #37a898;
	font-family: 'Spartan', arial;
	font-size: small;
	transition-duration: 600ms;
	outline: none;
}

#buttonSearchBook:hover {
	background-color: #37a898;
	color: white;
}

#buttonCancelSearchBook {
	cursor: pointer;
	width: 150px;
	margin-top: 20px;
	margin-bottom: 10px;
	border-radius: 10rem;
	border: 0px;
	padding: 10px 20px;
	background-color: #e9a339;
	color: black;
	font-family: 'Spartan', arial;
	font-size: small;
	transition-duration: 600ms;
	outline: none;
}

#buttonCancelSearchBook:hover {
	background-color: #e67c03;
	color: white;
}

#searchResults {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-around;
}

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
}

.bookCard {
	width: 300px;
	height: 400px;
	margin: 10px 5px 10px 5px;
	padding: 10px 5px 10px 5px;
	/*border-style: solid;
	border-width: medium;
	border-color: #37a898;*/
	border-radius: 10px;
	/*background-color: #d0fcf6;*/
	background-color: rgb(9, 175, 159);
	font-size: xxx-small;
	text-align: left;
}

.bookTitle {
	font-weight: bold;
	color: white;
}

.bookId {
	font-weight: bold;
	font-style: italic;
	color: white;
}

.bookAuthor {
	font-weight: normal;
	color: white;
}

.bookDescription {
	font-weight: normal;
	color: white;
}

.thumbnailImg {
	max-height: 140px;
}

.thumbnail {
	text-align: center;
}

hr.hrCard {
	/*border-color : white;*/
	background-color: white;
	height: 1px;
	border: 0;
}
